/*type selector underline*/
h1{
    text-decoration-line: underline ;
}

/*id selector copyright smaller */
#Copyright{
    font-size: 60%;
}
/*class making question bold*/
.question{ 
    font-weight: bolder;
}
/*image styling */
img{
    border: 30px solid rgba(28, 255, 244, 0.716);
    padding: 30px;
    margin: 20px;
}